*.egg-info
.*.swp
.*.swo
*.pyc
*.code-workspace
.DS_Store
.python-version
docs/_build
docs/fr/_build
build
dist
tags
.tox
.coverage
htmlcov
*.orig
venv
samples/output
*.pem
content/images
output/
.vscode/
content/media
m.css/
pelican-plugins/
pelican-plugins-old/
Makefile
m.css
